@import '~antd/dist/antd.css';


.modifyField {
  padding: 8px;
  white-space: nowrap;
}

.modifyField input {
  margin-right: 15px;
  width: 180px;
}

.wrapper {
  margin: 20px 50px;

}

@media (max-width:1000px){
  .wrapper {
    margin: 10px 20px 20px;
  }
}